@CHARSET "ISO-8859-1";


#graph{
    background: #F5F5F5;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}
 
#option{
	/*background:#787878;*/
	 padding: 10px;
	 display: block;
	 float: left;
	
}

#menuProperties input {
	max-width: 80px;
	height: auto !important;
}

#menuProperties, #menuVertices {
	position: fixed !important;
	width: auto !important;
	height: auto !important;
}

#menuVertices {
    max-width: 120px;
    text-align: center;
}

#menuVertices button {
    width: 100%;
}

#graphEditor {
    overflow: auto !important;
    margin: 5px !important;
}

/*#graphEditor canvas {
    width: 100% !important;
    height: 100% !important;
}*/